.example-container {
    border: .75em solid #ad1457;
    padding: .75em;
    text-align: left;
    position: relative;
    width: 100%;
    min-height: 200px
}

#example-element {
    background-color: #07136c;
    border: 6px solid #ffa000;
    color: #fff;
    position: absolute;
    inset: 0
}